/* Make tables responsive */
.dataTables_wrapper {
    width: 100%;
    overflow-x: auto;
}

/* Responsive plotly plots */
.plot-container {
    width: 100% !important;
    height: auto !important;
}

/* adjusting padding/margin based on screen size */
@media only screen and (max-width: 600px) {
    .main-panel {
        padding: 5px;
    }
}

@media only screen and (min-width: 601px) {
    .main-panel {
        padding: 15px;
    }
}
